<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_poprawnego.css">
<link rel="icon" type="image/png" href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="logo">
    <img src="/static/images/logo.png" alt="Logo aplikacji" width="150" height="135">
</div>
<form method="post">
    <div id="panel">
        <div id="message">
            <label>{{info}}</label>
        </div>
        <div id="lower">
            {% if site_type == 'rejestracja' %}
            <a href="{{url_for('logowanie')}}"><input type="button" id="sign_in" value="Zaloguj się"></a>
            {% elif site_type == 'zmien_haslo' %}
            <a href="{{url_for('zalogowany')}}"><input type="button" id="sign_in" value="Powrót"></a>
            {% elif site_type == 'aktywacja' %}
            <a href="{{url_for('zalogowany')}}"><input type="button" id="sign_in" value="Moje konto"></a>
            {% elif site_type == 'kopiowanie_grupy' %}
            <a href="{{url_for('zarzadzaj_uczestnikami')}}"><input type="button" id="sign_in" value="Powrót"></a>
            {% endif %}
        </div>
    </div>
</form>
</body>
</html>
<footer>
    <a href="{{ url_for('strona_startowa') }}"><input type="button" id="main_page" value="Strona główna"></a>
    <p>VotePlus &copy; 2021</p>
</footer>