<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_dodawania_uczestnikow.css">
<link rel="icon"
      type="image/png"
      href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <div class="user_list">
            <div class="title">
                Zarządzasz listą uczestników głosowania: {{poll_id}}
            </div>
            <div id="from_another">
                <a href="{{url_for('wybierz_grupe')}}"><input type="button" id="copy" value="Importuj grupę"></a>
            </div>
            <form method="POST">
                <div id="user">
                    <input type="text" id="template" name="template"
                           placeholder="Tu wpisz nazwę użytkownika którego chcesz wyszukać">
                    <input type="submit" value="Szukaj" id="search">
                </div>
            </form>
            <ul>
                {% for user in users %}
                <li class="record">
                    <div class="text">
                        {{user[1]}} {{user[2]}} ({{user[3]}})
                    </div>
                    {% if user[0] in added_users %}
                    <form method="POST">
                        <div class="delete">
                            <input type="hidden" name="delete_pid" value="{{user[0]}}">
                            <button type="submit" class="delete_button">Usuń</button>
                        </div>
                    </form>
                    {% else %}
                    <form method="POST">
                        <div class="edit">
                            <input type="hidden" name="edit_pid" value="{{user[0]}}">
                            <button type="submit" class="edit_button">Dodaj</button>
                        </div>
                    </form>
                    {% endif %}
                </li>
                {% else %}
                <li class="record">
                    <div class="text">
                        Brak rekordów
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="footer">
        <br>
        <a href="{{url_for('zarzadzaj_glosowaniem')}}"><input type="button" id="main_page"
                                                              value="Panel zarządzania"></a>
        <p>VotePlus &copy; 2021</p>
        <br>
    </div>
</div>
</body>
</html>