<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_edycji.css">
<link rel="icon"
      type="image/png"
      href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <div id="user_list">
            <div class="title">
                {{info}}
            </div>
            <ul>
                {% for poll_group in groups %}
                <li class="record">
                    <div class="text">
                        {{poll_group[1]}}
                    </div>
                    <form method="POST">
                        <div class="edit">
                            <input type="hidden" name="edit_pid" value="{{poll_group[0]}}">
                            <button type="submit" class="edit_button">Wybierz</button>
                        </div>
                    </form>
                </li>
                {% else %}
                <li class="record">
                    <div class="text">
                        Brak rekordów
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="footer">
        <a href="{{ url_for('zarzadzaj_uczestnikami') }}"><input type="button" id="main_page" value="Anuluj"></a>
        <p>VotePlus &copy; 2021</p>
    </div>
</div>
</body>
</html>