<!DOCTYPE html>
<link rel="stylesheet"
      href="/static/content/style_rejestracji.css">
<link rel="icon"
      type="image/png"
      href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="logo">
    <img src="/static/images/logo.png"
         alt="Logo aplikacji" width="150" height="135">
</div>
<div class="info">
    <p>Dodajesz odpowiedź do pytania {{nazwa}}</p>
</div>
<div class="panel">
    <form method="post">
        <table>
            <tr>
                <td class="left">
                    <label for="answer" class="login_label">Treść odpowiedzi:</label>
                </td>
                <td class="right">
                    <input type="text" id="answer" class="formField" name="answer" placeholder="Wpisz treść odpowiedzi" size="64" maxLength="64" required>
                </td>
            </tr>
        </table>
        <div id="lower">
            <a href="{{ url_for('zarzadzaj_glosowaniem') }}" class="lowerButton"><input type="button" id="back" class="customButton" value="Anuluj"></a>
            <input type="submit" id="next" class="customButton" value="Zatwierdź">
        </div>
    </form>
</div>
</body>
</html>
<footer>
    <p>VotePlus &copy; 2021</p>
</footer>

