<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_edytowania_glosowania.css">
<link rel="icon"
      type="image/png"
      href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <div class="title">
            Edytujesz głosowanie: <br>
            {{data[0]}} <br>
            {{data[2]}} <br>
            Typ: {{data[1]}} <br>
            Początek: {{data[3]}} <br>
            Koniec: {{data[4]}}
        </div>
        <div class="more2">
            <form method="get">
                <button type="submit" id="add1" formaction="{{url_for('edytuj_dane_glosowania')}}">Edytuj dane
                    głosowania
                </button>
            </form>
        </div>
        <div class="more1">
            <form method="get">
                <button type="submit" id="add2" formaction="{{url_for('zarzadzaj_uczestnikami')}}">Zarządzaj
                    uczestnikami głosowania
                </button>
            </form>
        </div>
        <div class="question_list">
            <div class="title2">
                Lista pytań z odpowiedziami dla głosowania:
            </div>
            <ul>
                {% for question_answers in questions %}
                {% set question = question_answers[0] %}
                {% set answers = question_answers[1] %}
                <li class="one_question">
                    <div class="question">
                        {{question[1]}}
                    </div>
                    <form method="post">
                        <div class="edit">
                            <input type="hidden" name="delete_question_id" value="{{question[0]}}">
                            <button type="submit" class="delete_button">Usuń</button>
                        </div>
                    </form>
                    <form method="POST">
                        <div class="edit">
                            <input type="hidden" name="edit_question_id" value="{{question[0]}}">
                            <button type="submit" class="edit_button">Edytuj</button>
                        </div>
                    </form>
                </li>
                <li>
                    <div class="answer_list">
                        <ul>
                            {% for answer in answers %}
                            <li class="one_answer">
                                <div class="answer">
                                    {{answer[1]}}
                                </div>
                                <form method="post">
                                    <div class="edit">
                                        <input type="hidden" name="delete_answer_id" value="{{answer[0]}}">
                                        <input type="hidden" name="delete_answer_question_id" value="{{question[0]}}">
                                        <button type="submit" class="delete_button">Usuń</button>
                                    </div>
                                </form>
                                <form method="POST">
                                    <div class="edit">
                                        <input type="hidden" name="edit_answer_id" value="{{answer[0]}}">
                                        <input type="hidden" name="edit_answer_question_id" value="{{question[0]}}">
                                        <button type="submit" class="edit_button">Edytuj</button>
                                    </div>
                                </form>
                            </li>
                            {% else %}
                            <li class="one_answer">
                                <div class="answer">
                                    Brak odpowiedzi dla tego pytania
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="more2">
                        <form method="post">
                            <input type="hidden" name="question_id_for_add_answer" value="{{question[0]}}">
                            <button type="submit" id="add">Dodaj odpowiedź</button>
                        </form>
                    </div>
                </li>
                {% else %}
                <li class="one_question">
                    <div class="question">
                        Brak pytań dla tego głosowania
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="new">
            <a href="{{url_for('dodaj_pytanie')}}"><input type="button" id="add" value="Dodaj pytanie"></a>
        </div>
    </div>
    <div id="footer">
        <br>
        <a href="{{url_for('zakonczenie_edycji_glosowania')}}"><input type="button" id="main_page" value="Panel główny"></a>
        <p>VotePlus &copy; 2021</p>
        <br>
    </div>
</div>
</body>
</html>