<!DOCTYPE html>
<link rel="stylesheet" href="/static/content/style_usuniecia.css">
<link rel="icon"
      type="image/png"
      href="/static/images/favicon.ico">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>VotePlus</title>
</head>
<body>
<div id="container">
    <div id="logo">
        <img src="/static/images/logo.png" alt="Logo aplikacji">
    </div>
    <div class="panel_wrapper">
        <form method="post">
            <div id="panel">
                <div id="message">
                    Usuwasz konto:
                    <br> <br>
                    Nazwa użytkownika: {{data[4]}} <br>
                    Imię i nazwisko: {{data[0]}} {{data[1]}} <br>
                    Płeć: {{data[2]}} <br>
                    Rok urodzenia: {{data[3]}} <br>
                    E-mail: {{data[5]}} <br>
                    {% if data[6] == None %}
                    Rola: Brak <br>
                    {% else %}
                    Rola: {{data[6]}} <br>
                    {% endif %}
                    <br>
                    {{info}}
                </div>
                <div id="lower">
                    <a href="{{url_for('anuluj_usuniecie_uzytkownika')}}"><input type="button" id="no"
                                                                                 value="Anuluj"></a>
                    <input type="submit" id="yes" value="Usuń">
                </div>
            </div>
        </form>
    </div>
    <div id="footer">
        <br>
        <p>VotePlus &copy; 2021</p>
        <br>
    </div>
</div>
</body>
</html>